
.page{width:80%;margin:20px auto;background:#fff;border:1px solid #ccc;}
.page.col2{display:flex;min-width:1020px;max-width:1050px;}
.page.col2>.left{flex-grow:1;}
.page.col2>.right{border-left:1px solid #ccc;width:220px;}

.sec{padding:20px;border-bottom:1px solid #ccc;}

.v-div{position:relative !important;height:400px;border-bottom:none;}
.video-js{width:100%;height:100%;}

.bg-div{line-height: 30px;border-bottom: 1px solid #ccc;padding: 0 20px 20px 20px;margin-top: -10px;display:flex;}
.bg-div .bg-toggle{margin-right:10px;height:30px;}

.bg-div .input-group{display:inline-flex;height:30px;flex-grow:1;}
.bg-div input[type=text]{border-color:#A6CBE7;border-right:none;flex-grow:1;}
input[type=text]{padding:0 10px;}

.sm-div{}
.sm-div textarea{outline:none;resize:vertical;width:100%;min-height:100px;box-sizing: border-box;margin-bottom:5px;padding:10px;}

.cm-div{}
.cm-div .li{display:flex;border:1px solid #e3e3e3;border-bottom:none;}
.cm-div .li:nth-last-child(2){border-bottom:1px solid #e3e3e3;}
.cm-div .li_l{width:130px;border-right:1px solid #e3e3e3;text-align:center;padding:10px 0;flex-shrink:0;}
.cm-div .head{width:80px;height:80px;border:1px solid #41c7db;}
.cm-div .nick{font-size: 14px;line-height: 26px;text-overflow:ellipsis;color: darkgoldenrod;font-weight:bold;}
.cm-div .li_r{flex-grow:1;padding:20px;}
.cm-div .r_c{min-height:180px;}
.cm-div .r_b{line-height: 20px;text-align: right;padding:10px 20px;}
.cm-div .r_b>span{margin-left:3px;color:gray;}

.cm-div .r_re{border: 1px solid #e3e3e3;background:#FFFAFA;display:none;}
.cm-div .r_re.hide{display:block !important;}
.cm-div .re_li{border-bottom:1px solid #e3e3e3;min-height:60px;display:flex;}
.cm-div .re_li_l{flex-shrink:0;text-align:center;padding:10px;}
.cm-div .re_li_l img{width:48px;height:48px;border:1px solid #e3e3e3;}
.cm-div .re_li_r{flex-grow:1;padding:10px;}
.cm-div .re_li_r_c{}
.cm-div .re_li_r_c .nick:after{content:"：";}
.cm-div .re_li_r_b{line-height: 20px;text-align:right;color:gray;}
.cm-div .re_ctrl{padding:10px;}
.cm-div .re_sd{display:flex;height:30px;}
.cm-div .re_sd input{flex-grow:1;}
.cm-div .re_sd button{flex-shrink:0;width:70px;}

.cm-div .li-page{margin-top:10px;text-align:right;}
.cm-div .li-page a{
    display: inline-block;
    padding: 5px 9px;
    font-size: 12px;
    background: #fff;
    color: #666;
    border: 1px solid #e6e6e6;
}
.cm-div .li-page a:hover{color: #3e89fa;border: 1px solid #3e89fa;}
.cm-div .li-page a.active{border:none;}
.cm-div .li-page a.disabled{border:none;}

.pane{padding:10px;border-bottom: 1px solid #ccc;}
.pane>h3{line-height:20px;padding:3px 5px;margin:0 0 3px 0;font-size:14px;color:#6f6f6f;}
.pane>.item-v{margin:10px 0;width:185px;height:100px;}
.pane>.item-a{line-height:26px;}
.pane>.item-a:before{content:"»";}
.pane>.item-img{}
.pane>.item-img>img{width:200px;}

.label1{background: #FF7F42;color:#fff !important;padding:0 5px;border-radius: 5px;}