body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vpre{position:relative;width:200px;height:128px;}
.vpre:before{
    background: url(../img/vpre.svg) no-repeat;
    background-size: 100% 100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:1000;
    opacity:0;
}
.vpre:hover:before{opacity:1;}
.vpre:hover{cursor:pointer;}
.vpre>img{width:100%;height:100%;}