.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: -0.75em;
  margin-left: -1.5em;
}
.video-js .vjs-remaining-time{display:none;}
.video-js .vjs-time-divider{
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/*barrage*/
.barg-div{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
  background-color:transparent;
  padding-top:20px;
}
.barg-div>.path{
  position:relative;
  margin-left:70%;
  color:yellow;
  height:24px;
  line-height:24px;
  font-size:16px;
  letter-spacing:1px;
}
.barg-div>.path>span{
  position:absolute;
  top:0;
  left:0;
  min-width:260px;
}
:fullscreen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-moz-full-screen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-ms-fullscreen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-webkit-full-screen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:fullscreen .barg-div>.path>span{min-width:400px;}
:-moz-full-screen .barg-div>.path>span{min-width:400px;}
:-ms-fullscreen .barg-div>.path>span{min-width:400px;}
:-webkit-full-screen .barg-div>.path>span{min-width:400px;}
