.video-js{outline:none !important;}
.video-js video{object-fit:fill;}
.video-js .vjs-control-bar{
  font-size:20px;
  height:36px;
  background:#111;
}
.video-js .vjs-control{
  width:36px !important;
  line-height:36px !important;;
  font-size:20px !important;
}
.video-js .vjs-control:before{
  line-height:36px !important;;
  font-size:26px !important;
}
.video-js .vjs-time-control{
  font-size:16px !important;
  line-height:36px !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
.video-js .vjs-time-divider{
  width:12px !important;
  min-width:0;
  text-align: center;
}
.vjs-volume-menu-button-vertical .vjs-menu{
  left:0 !important;
  background: #111;
  margin-bottom:36px !important;
  height:6em !important;
}
.vjs-volume-menu-button-vertical:hover .vjs-menu-content,
.vjs-volume-menu-button-vertical:focus .vjs-menu-content{
  width:36px !important;
  bottom:0 !important;
  background: #111 !important;
  height:6em !important;
}
.vjs-volume-bar.vjs-slider-vertical{
  margin:1em auto !important;
  height:4em !important;
}
.vjs-slider-vertical .vjs-volume-level:before{
  display:none;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
   font-size: 1em !important;
}
.video-js .vjs-play-progress:before{
  font-size:0 !important;
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: -0.75em;
  margin-left: -1.5em;
}
.video-js .vjs-remaining-time{display:none;}
.video-js .vjs-mouse-display:after{display:none;}
.video-js .vjs-play-progress:after{display:none;}
/*barrage*/
.barg-div{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
  background-color:transparent;
  padding-top:20px;
}
.barg-div>.path{
  position:relative;
  margin-left:70%;
  color:yellow;
  height:24px;
  line-height:24px;
  font-size:16px;
  letter-spacing:1px;
}
.barg-div>.path>span{
  position:absolute;
  top:0;
  left:0;
  min-width:260px;
}
:fullscreen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-moz-full-screen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-ms-fullscreen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:-webkit-full-screen .barg-div>.path{height:45px;line-height:45px;font-size:24px;}
:fullscreen .barg-div>.path>span{min-width:400px;}
:-moz-full-screen .barg-div>.path>span{min-width:400px;}
:-ms-fullscreen .barg-div>.path>span{min-width:400px;}
:-webkit-full-screen .barg-div>.path>span{min-width:400px;}
