*{box-sizing:border-box;}
body{
    margin:0;
    padding:0;
    font-family: "Tahoma";
    font-size: 14px;
    background:url(img/pattern.gif);
    color:#ddd;
}
.unsel{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{text-decoration:none;}
a[disabled]{pointer-events:none;}
button[disabled]{pointer-events:none;}
input[type=text],input[type=password],select{border-style:solid;border-width:1px;outline:none;padding:0 10px;
    background:linear-gradient(to bottom,#fff, #ddd);}
input[type=checkbox]{vertical-align:middle;cursor:pointer;}
ul{margin:0;padding:0;}

.btn{outline:none;display:inline-block;cursor:pointer;font-weight:bold;color:#000;}
.btn.btn1{border:none;padding:3px 13px;background:linear-gradient(to bottom,#ddd,#999);}
.btn.btn1:not([disabled]):hover{background:linear-gradient(to bottom,#999,#ddd);}
.btn.btn2{border:none;padding: 2px 10px;background:linear-gradient(to bottom,#f90,#c60);}
.btn.btn2:not([disabled]):hover{background: linear-gradient(to bottom,#c60,#f90);}
.btn.btn-lg{padding:5px 20px;}

.err{color:#cf0;}

/*page global style*/
.page{width:1070px;margin:20px auto;background:#272727;border-radius:5px;}
.page.col2{display:flex;}
.page.col2>.left{flex-grow:1;flex-shrink:1;min-width: 0;}
.page.col2>.right{flex-shrink: 0;width:230px;}

.sec{padding:20px;}

.pane{padding:10px;margin:10px 10px 10px 0;}
.pane>h3{line-height:20px;padding:3px 5px;margin:0 0 3px 0;font-size:14px;color:#6f6f6f;}
.pane>.item-v{margin:10px 0;width:200px;height:110px;}
.pane>.item-a{line-height:26px;}
.pane>.item-a:before{content:"»";}
.pane>.item-img{}
.pane>.item-img>img{width:200px;}